body {

    font-family     : 'monserrat', 'verdana', 'arial';
    background-color: #f5f7fa;
    display         : flex;
    background      : white;
    flex-direction  : row-reverse;
    margin          : 20px auto;
}

li {
    line-height: 24px;
}
span{color:brown;
font-size:20px;}
.contenedor-principal {
    width: 1200px;
    padding: 100px 88px;


}

.descripcion-hv {
    background   : white;
    margin-bottom: 40px;

}

.descripcion-profecion {
    font-size  : 14px;
    font-weight: 700;
}

.proyectos {
    background:white;

}

.experiencia-laboral {
    background: white;
}

.education {
    background: white
}

.barra-lateral {
    background: #1E2939;
    color:white;
    display: flex;
    padding-left: 20px;
font-size: 18px;
}
img{
    border-radius: 50%;
  box-shadow: -5px -2px 56px -2px rgba(243, 236, 236, 0.66);
}
.contacto{
    color:white;
    font-size: 22px;

}
.contactosref{
    color:rgba(54, 210, 210, 0.951);
    font-size: 22px;
}